exportPattern("^[[:alpha:]]+")
import(Rcpp, GMMAT, Matrix, methods)
importFrom("stats", "binomial", "dbeta", "glm", "model.matrix",
               "pcauchy")
importFrom("GENESIS", "makeSparseMatrix")

useDynLib(STAAR, .registration = TRUE)

# functions
export(CCT, fit_null_glm, fit_null_glmmkin, STAAR, Indiv_Score_Test_Region)
